h1{
    font-size: 60px;
    color: rgb(25, 211, 218);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10%;
    padding: 10%;
    background-color: rgb(5, 19, 97);
    text-align: center;
}

#rojo{
    font-size: 60px;
    color: rgb(240, 105, 105);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10%;
    padding: 10%;
    background-color: rgb(117, 2, 2);
}